
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Helvetica;
    font-size: 1em;
}

#container {
    display: -webkit-box;    
    -webkit-box-orient: horizontal;
    height: 100%;
    width: 100%;
}
#sidebar {
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 25%;
    border-right: 1px solid #ccc;
}

input {
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 5px;
    width: 95%;
}

#progressBar {
    width: 100%;
    height: 18px;
}

#errorMsg {
    color: #f00;
    font-size: 0.7em;
    margin: 5px 0 5px 0;
}
#errorMsg p {
    margin: 0;
    padding: 0;
}

#viewer {
    width: 75%;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#resizableDiv {
    height: 512px;
    width: 512px;
}

#patientInfo {
    color: #fff;
    font-size: 0.8em;
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
}
#patientInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#studyInfo {
    color: #fff;
    font-size: 0.8em;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
}
#studyInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#myCanvas {
    border:#000 1px solid;
    width: 100%;
    height: 100%;
}

#toolbox {
}

.ui-button-text {
    font-size: 0.908em !important;
}

.ui-buttonset {
    font-size: .8em !important;
}

#slider {
    width: 100%;
    margin: 10px 0 0 0;
}

#metaDialog {
    font-size: 0.8em;
}
#metaDialog table {
    overflow-y: scroll;
    overflow-x: auto;
}
#metaDialog thead {
    font-weight: bold;
}

.tree,.tree ul,.tree li {
    list-style:none; 
    margin:0; 
    padding:0; 
    zoom: 1;
}
.tree ul {
    margin-left:8px; 
}
.tree li a {
    color:#555; 
    padding:.1em 7px .1em 27px; 
    display:block; 
    text-decoration:none; 
    border:1px dashed #fff; 
    background:url(../img/icon-file.gif) 5px 50% no-repeat; 
}
.tree li a.tree-parent { 
    background:url(../img/icon-folder-open.gif) 5px 50% no-repeat; 
}
.tree li a.tree-parent-collapsed {
    background:url(../img/icon-folder.gif) 5px 50% no-repeat; 
}
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { 
    color:#000; 
    border:1px solid#eee; 
    background-color:#fafafa; 
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px; 
}
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { 
    border:1px solid #e2f3fb; 
    background-color:#f2fafd; 
}
.tree ul.tree-group-collapsed { 
    display:none; 
}