/**
 * @desc Stylesheet of the Dicom viewer. Using HTML5-Boilerplate's clearfix hack.
 * @author Michael Kaserer
 **/
@charset 'utf-8';

html, body {
    display: inline;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix { 
    zoom: 1; /* IE6 */
} 
*:first-child+html .clearfix{ 
    zoom: 1; /* IE7 */
} 
#container {
    display: -webkit-box;    
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: -ms-box;
    -ms-box-orient: horizontal;
    height: 100%;
    width: 100%;
}

/*Viewer*/

#viewer {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #000;
}
#viewerScreen {
    display: table;
}
.viewerRows .viewerCells {
     border-bottom: 1px solid #ddd;
     border-right: 1px solid #ddd;
}
.viewerRows:last-child .viewerCells {
     border-bottom: none;
}
.viewerRows .viewerCells:last-child {
     border-right: none;
}
.viewerRows {
    display: table-row;
}
.viewerCells {
    display: table-cell;
    position: relative;
}
canvas {
    cursor: default;
    display: block;
}

/*Patient infos*/

.patientInfo {
    color: #fff;
    font-size: 0.8em;
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
}
.patientInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.studyInfo {
    color: #fff;
    font-size: 0.8em;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
}
.studyInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Toolbox*/

#toolbox {
    margin-left: -1px;
    padding: 10px;
    margin-bottom: 0;
}
#toolbox div{
    float:left;
}
#toolboxHeader {
    background-color: #fff;
}
#matrixViewSelectBoxItText {
    padding-left:7px;
}
#singleButtons {
    margin-left: 3px;
}
#slider {
    width: 100%;
    margin: 10px 0 0 0;
    height: .6em;
}
#slider .ui-slider-handle {
    width: 1em;
    height: 1em;
}

/*Meta-Daten dialog*/

#metaDialog th, td {
    overflow-y: scroll;
    overflow-x: auto;
    padding-left: 5px;
    border-collapse: collapse;
    border-right: 1px solid #333;
}
#metaDialog th:last-child, td:last-child {
    border: none;
}
#metaDialog thead {
    font-weight: bold;
    border-bottom: 1px solid #333;
}

/*SideBar*/

#sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 300px;
    height: 100%;
    border-right: 1px solid #ccc;
}
.input-append.customfile {
    width: 100%;
    white-space: normal;
}
.customfile.input-append .customfile-feedback {
    border-radius: 3px 0 0 3px;
    padding-left: 25px;
    width: 167px;
}
.add-on.customfile-button {
    width: 61px;
}
#inputContainer {
    height: 60px;
    width: 270px;
}
#progressBar {
    margin-top: 5px;
    height: .6em;
}
#errorMsg {
    color: #f00;
    font-size: 0.7em;
    margin: 5px 0 5px 0;
}
#errorMsg p {
    margin:2px 10px 0 10px;
    padding: 0;
}
#errorMsg .ui-icon-alert {
    float: left; 
    margin: .15em .3em .15em .3em;
}

/*File tree*/

#fileTree {
    padding: 0px 10px;
}
.tree,.tree ul,.tree li {
    list-style:none; 
    margin:0; 
    padding:0; 
    zoom: 1;
}
.tree ul {
    margin-left:8px; 
}
.tree li a {
    color:#333; 
    padding:.1em 7px .1em 27px; 
    display:block; 
    text-decoration:none; 
    border:1px dashed #fff; 
    background:url(../img/icon-file.gif) 5px 50% no-repeat; 
}
.tree li a.tree-parent { 
    background:url(../img/icon-folder-open.gif) 5px 50% no-repeat; 
}
.tree li a.tree-parent-collapsed {
    background:url(../img/icon-folder.gif) 5px 50% no-repeat; 
}
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { 
    border:1px solid #eee; 
    background-color:#fafafa;
    -webkit-border-radius:4px; 
    -moz-border-radius:4px; 
    -ms-border-radius:4px; 
    border-radius:4px; 
}
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { 
    border:1px solid #e2f3fb;
    background-color:#f2fafd; 
}
.tree ul.tree-group-collapsed { 
    display:none; 
}