
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    display: -webkit-box;    
    -webkit-box-orient: horizontal;
    height: 100%;
}
#sidebar {
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 300px;
    border-right: 1px solid #ccc;
}

#viewer {
    xborder: 2px solid #00F;
    padding: 5px 15px 5px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    /*-webkit-box-flex: 1;*/
}

#myCanvas {
    border:#000 1px solid;
}

#toolbox {
}

.ui-button-text {
    font-size: 0.91em !important;
}

.ui-buttonset {
    font-size: .8em !important;
}

#slider {
    width: 512px;
}

input[type='file'] {
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 5px;
    width: 95%;
}

#files { margin:2em 0 5em; width:400px; }
.tree,.tree ul,.tree li { list-style:none; margin:0; padding:0; zoom: 1; }
.tree ul { margin-left:8px; }
.tree li a { color:#555; padding:.1em 7px .1em 27px; display:block; text-decoration:none; border:1px dashed #fff; background:url(../img/icon-file.gif) 5px 50% no-repeat; }
.tree li a.tree-parent { background:url(../img/icon-folder-open.gif) 5px 50% no-repeat; }
.tree li a.tree-parent-collapsed { background:url(../img/icon-folder.gif) 5px 50% no-repeat; }
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { color:#000; border:1px solid#eee; background-color:#fafafa; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { border:1px solid #e2f3fb; background-color:#f2fafd; }
.tree ul.tree-group-collapsed { display:none; }