
root { 
    display: block;
}

#myCanvas {
    border:#000 1px solid;
}

#toolbox {
}

.ui-button-text {
    font-size: 0.91em !important;
}

.ui-buttonset {
    font-size: .8em !important;
}

#slider {
    width: 512px;
}